<div class="tile is-parent" id="accountMenu">
    
    <div class="tile is-child box">
        <div class="content"> 
            <div class="column">
                <figure class="image is-128x128 ">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        {{activeUsername}}
                </figure>
            </div>
        
            <div class="column mt-5"> 
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <a href="/playlist/overview"><span>Home</span></a>
                </span>
            </div>

            <div class="column">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa fa-music" aria-hidden="true"></i>
                    </span>
                    <a href="/playlist/explore"><span>Explore</span></a>
                </span>
            </div>

            <div class="column">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa fa-music" aria-hidden="true"></i>
                    </span>
                    <a href="/playlist/songs/1"><span>Songs</span></a>
                </span>
            </div>
            
         <a href="/playlist/createPlaylist"><button class="button is-rounded is-small is-primary ml-3 mt-2"> <b>Create playlist</b>  <i class="fa fa-plus-circle ml-2" aria-hidden="true"></i></button> </a>
      </div>
    </div> 

  </div>