<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://use.fontawesome.com/5ce98d1660.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Qlizt</title>
</head>
<body>
    {{{body}}}
</body>

<footer class="footer">
    
    <div class="content has-text-centered">
        <div class="columns is-centered">
        <a href="/about"><strong>About us</strong></a>
        <div class="pr-5 pl-5">
            <span class="vertical-line"></span>
        </div>
        <a href="/contacts"><strong>Contacts</strong></a>
        </div>
    </div>
</footer>
</html>