{{> header}}

<section class="section">

<div class="columns is-centered">
    <div class="column"></div>

    <div class="column is-half">
        <p class="title is-1">About Qlizt</p>
   
        <p class="subtitle is-4 ml-6 mt-3">Qlizt makes it easy to find the the right music playlists for your mood. <br> You can also create 
            and share your own music playlists.
        </p>
    </div>

    <div class="column"></div>
    
</div>
  

</section>

{{> footer}}