{{> header}}
<section class="section ">
<div class="columns is-vcentered">
    <div class="column"></div>
    <div class="column">
        <p class="title is-1">Contact information</p>
        <p class="subtitle is-3 ml-6 mt-3">Qlizt headquarters</p>
        <p class="subtitle is-5 ml-6">794 Green st <br> San Francisco, California(CA), 94133</p>
        <p class="subtitle is-5 ml-6"> <b>Email:</b> inquaries@Qlizt.com  <br> <b>Phone:</b> +1-970-469-1536</p>
    </div>
    <div class="column"></div>
</div>
</section>
{{> footer}}