{{> header}}

<div class="tile is-ancestor">

  {{#if isLoggedIn}}
    {{> accountMenu}}
  {{/if}}

  <div class="tile is-vertical is-10 " id="contentOverview">
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child">
           

            <form action="/playlist/createPlaylist" method="POST">
                <div class="columns is-centered mt-6">
                      <div class="column is-half">
                        <section class="box">
                            <p class="title is-4">Create new playlist</p>
                            {{#if error}}
                              <p>{{error}}</p>
                            {{/if}}
                            <div class="field">
                            <label class="label">Name</label>
                            <div class="control has-icons-right">
                            <input class="input" type="text" name="playlistName" value="{{playlistName}}" placeholder="My playlist #3">
                            </div>
                            </div>

                            <label class="checkbox">
                              <input type="checkbox" name="checkbox" id="checkbox" checked="true" value="true">
                                Public playlist
                            </label>

                            <div class="field">
                            <div class="has-text-centered">
                            <input class="button is-vcentered is-rounded is-outlined" type="submit" value="Create playlist"></input>
                            </div>
                            </div>
                        </section>
                    </div>
                
                </div>
            </form>
        </div>
        </div>  
      </div>
    </div>
  </div>
</div>

{{> footer}}