<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
       <img class="ml-6" src="/images/Brand.jpg" alt="Qlizt"/> 
    </a>
  </div>

  <div id="navbar" class="navbar-menu mr-4">
    <div class="navbar-end mr-6">
      <div class="navbar-item">
        <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd is-vcentered ">
          <div class="columns is-centered">
            {{#if isLoggedIn}}
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <div aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span class="icon-text">
                    <span class="icon">
                      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>
                    <span> <b>{{activeUsername}}</b> </span>
                    <span class="icon ml-2">
                      <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </span>
                    </span>
                  </div>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <a href="/account/overview"> <p class="subtitle is-6">Home</p></a>
                    </div>
                    <div class="dropdown-item">
                      <a href="/account/logout"> <p class="subtitle is-6">Log out</p> </a>
                    </div>
                  </div>
                </div>
              </div>
            {{else}}
              <a href="/account/signup"><strong>Sign up</strong></a>
              <div class="pr-5 pl-5">
                  <span class="vertical-line"></span>
              </div>
              <a href="/account/login"><strong>Log in</strong></a>
            
            {{/if}}
            </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<span class="line-black"></span>

<div class="tile is-ancestor">

    <div class="tile is-parent" id="accountMenu">
    <div class="tile is-child box ">
        <div class="content"> 
            <div class="column">
                <figure class="image is-128x128 ">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                    
                    {{#if isLoggedIn}}
                        {{activeUsername}}
                    {{/if}}
                    
                    
                    
                </figure>
            </div>
        
            <div class="column mt-5"> 
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <span>Home</span>
                </span>
            </div>

            <div class="column">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa fa-music" aria-hidden="true"></i>
                    </span>
                    <span>Explore</span>
                </span>
            </div>
            <div class="column">
                
                    <b>Playlists</b>
                    <p>Summer hits</p>
                    <p>Summer hits</p>
                    <p>Summer hits</p>
                    <p>Summer hits</p>

                
            </div>
            <button class="button is-inverted">+ New playlist</button>
      </div>
    </div> 
  </div>
  
  
  

  <div class="tile is-vertical is-10 " id="contentOverview">
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child">
           <h1 class="has-text-centered title is-2 mt-4">Welcome Home</h1>

            <form action="" method="POST">
                <div class="columns is-vcentered">

                <div class="column"></div>

                    <div class="column">


                        <section class="box">

                            <div class="field">
                            <label class="label">Name</label>
                            <div class="control has-icons-right">
                            <input class="input" type="text" name="playlistName" value="{{playlistName}}" placeholder="My playlist #3">
                            </div>
                            </div>

                            <label class="checkbox">
                              <input type="checkbox" name="checkbox" id="checkbox" checked="true" value="true">
                                Public playlist
                            </label>

                            <div class="field">
                            <div class="has-text-centered">
                            <input class="button is-vcentered is-rounded is-outlined" type="submit" value="Create playlist"></input>
                            </div>
                            </div>

                        </section>
                    </div>
                <div class="column"></div>
                </div>
            </form>
        </div>



        </div>
        
      </div>
    </div>
  </div>
</div>