{{> header}}
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-1">Sharing is Caring</h2>
      <p class="subtitle is-4 ml-6 mt-3">Qlizt makes it easy to find the the right music playlists for your mood. <br> You can also create 
            and share your own music playlists.
      </p>
      <form action="/account/signup" method="get">
      <button class="button is-link" type="submit">Join Qlizt Now</button>
      </form>
  </div>
</section>
{{> footer}}