<section class="section">

  <div class="level">
    <a class="level-item" href="/"><img src="/images/Brand.jpg" alt="Qlizt"/></a>
  </div>

<form action="loginRequest" method="POST">
  <div class="columns is-vcentered">
    
    <div class="column"></div>

    <div class="column">
      
      <div class="has-text-centered">
        <span class="line"></span>
          <h3 class="subtitle is-3 mt-3"> </span> Log in to Qlizt</h3>
          <h3>{{error}}</h3>
        </div>

      <section class="box">

        <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-right">
          <input class="input" type="text" name="username" value="{{username}}" placeholder="Write your username here">
          <span class="icon is-small is-right">
            <i class="fa fa-user"></i>
          </span>
        </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-right">
            <input class="input" type="password" name="password" value="{{password}}" placeholder="Write your password here">
            <span class="icon is-small is-right">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <div class="has-text-centered">
            <input class="button is-vcentered is-rounded is-outlined" type="submit" value="Log in"></input>
          </div>
        </div>

        <div class="field">
          <span class="line"></span>
        </div>
        <div class="field">
          <div class="has-text-centered">
            <a href="/account/signup"> Don't have an account?</a>
          </div>
        </div> 
          
        <div class="field">
          <div class="has-text-centered">
              <a class="button is-vcentered is-rounded is-outlined" href="/account/signup">Sign up</a>
          </div>
        </div>

      </section>
    </div>
    <div class="column"></div>
  </div>
</form>
</section>
