{{> header}}

<div class="tile is-ancestor">
    {{#if isLoggedIn}}
      {{> accountMenu}}
    {{/if}}
  <div class="tile is-vertical is-10 " id="contentOverview">
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child">
          

           <div class="section mr-4">
            <h1 class="title is-3">Welcome Home</h1>
            <div class="dropdown is-hoverable mb-2">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span> <b> Filter </b></span>
                <span class="icon ml-2">
                      <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <form action="/playlist/overview" method="get">
                      <input type="hidden" name="filter" value="public">
                      <button class="button is-white" type="submit">Public playlists</button>
                    </form>
                  </div>
                  <div class="dropdown-item">
                    <form action="/playlist/overview" method="get">
                      <input type="hidden" name="filter" value="private">
                      <button class="button is-white" type="submit">Private playlists</button>
                    </form>
                  </div>
                  <div class="dropdown-item">
                    <form action="/playlist/overview" method="get">
                      <input type="hidden" name="filter" value="all">
                      <button class="button is-white" type="submit">All playlists</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

              <div class="columns is-multiline is-mobile">
              {{#ifEquals filter "public"}}
                {{#each playlists}}
                  {{#ifEquals this.isPublic 1}}
                    {{> playlistCard}}
                  {{/ifEquals}}
                {{/each}}
              {{/ifEquals}}

              {{#ifEquals filter "private"}}
                {{#each playlists}}
                  {{#ifEquals this.isPublic 0}}
                    {{> playlistCard}}
                  {{/ifEquals}}
                {{/each}}
              {{/ifEquals}}

              {{#ifEquals filter "all"}}
                {{#each playlists}}
                  {{> playlistCard}}
                {{/each}}
              {{/ifEquals}}
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}