{{> header}}

 <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">Update account</h2>
            
    <form action="/accounts/{{account.id}}/update" method="POST">
        <div class="columns is-vcentered">
      <div class="login column is-4 ">
        <section class="section">
          <div class="has-text-centered">
              <img class="login-logo" src="assets/img/logo_r_resumme.png">
          </div>

          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-right">
              <input class="input" type="text" value="{{account.name}}"> 
              <span class="icon is-small is-right">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-right">
              <input class="input" type="text">
              <span class="icon is-small is-right">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-right">
              <input class="input" type="password"  value="{{account.password}}" >
              <span class="icon is-small is-right">
                <i class="fa fa-key"></i>
              </span>
            </div>
          </div>
          <div class="has-text-centered">
            <a class="button is-vcentered is-primary is-outlined" >Sign Up!</a>
          </div>
          <div class="has-text-centered">
            <a href="login.html"> Already have an account? Log in now !</a>
          </div>
        </section>
      </div>
      <div id="particles-js" class="interactive-bg column is-8">
      </div>
    </div>
    </form>
    </section>
    {{> footer}}