a{
    color: black;
}

.line {
    border-bottom: 2px solid #ccc;
    display: block;
}

.line-black {
    border-bottom: 1px solid black;
    display: block;
}

.vertical-line {
    border-left: 2px solid black;
    height: 500px;
  }


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}


#seachInput {
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }